/* styles.css */

/*

    #1D303F
#366374
#D2DFDA
#87AC4F
#516B37
*/

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    /*font-family: "Arial", sans-serif;*/
    font-family: Verdana, sans-serif; /* Verdana font */
}

a {
    text-decoration: none;
    color: inherit;
}

/* Global styles */
body {
    /*background-color: #f2f2f2;*/
    background-color: #f5ebe0;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    /*background-color: #1b4079;*/
    background-color: #005f73;
    color: white;
    text-align: center;
    /*padding: 40px 20px;*/
    margin: 0px;
    padding: 0px;
}

header h1 {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
    /*color: #d2dfda;*/
    color: #f2f2f2;
}

header p {
    font-size: 1.5em;
    margin-top: -10px;
    padding-bottom: 20px;
    color: #f2f2f2;
}

/* Section styles */
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 40px;
    background-color: #94d2bd;
    /*94D2BD*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Skill list styles */
.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Project container styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    flex: 1 1 calc(33.33% - 20px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

/* Contact section styles */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    text-align: center;
}

#contact p {
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #1d303f;
    color: white;
}

/* Responsive styles */

a {
    color: #005f73; /* Set the link color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
    color: #0056b3; /* Adjust the hover color */
    text-decoration: underline; /* Add an underline on hover */
    cursor: pointer; /* Change the cursor to indicate interactivity */
}
/*
.project-card {
    max-width: 30%;
    margin-bottom: 0px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

*/

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    flex: 0 0 calc(40%); /* Adjust the percentage and spacing as needed */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #94d2bd;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    transition: transform 0.3s ease;
    border-style: solid;
    border-width: 3px;
}
/*
.project-card h3,
p {
    color: #ffffff;
}*/
.project-card:hover {
    transform: scale(1.05);
}
/*
.project-card a {
    color: #1b4332; /* Complementary color for hyperlinks */
}*/

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
    }

    section {
        padding: 20px;
    }

    .skills-list li {
        font-size: 1em;
    }

    .project {
        flex: 0 0 calc(100%);
    }
    .project-card {
        flex: 0 0 calc(100%);
    }
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-evenly;*/
    }
}
