/* floral-style.css */

body {
    font-family: Verdana, sans-serif; /* Verdana font */
    margin: 0;
    padding: 0;
    background-color: #f2f0e3;
    color: #333; 
}

header {
    font-family: 'Helvetica Neue', sans-serif;
    /*background-color: #f9d2c2; */
    background-color: #D8DDDE;
    font-weight: 400;
    color: #333; 
    text-align: center;
    margin: -40px;
    padding: 0;


}
header h1{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: -10px;
    padding-top: 10px;

}

header p {
    font-size: 30px;
    margin-top: -10px; /* Adjust the margin values as needed */

    padding-bottom: 20px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1200px) {
    header h1{
        font-weight: 400;
        font-size: 40px;
        
    }
    
    header p {
        font-size: 20px;
    }
    
}




section {
    max-width: 800px;
    margin: 2em auto;
    padding: 20px;
    background-color: #e6d1a1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/**/

.red {
    background-color: #fcb1b4;
}

.yellow {
    background-color: #fed485;
}

.green {
    background-color: #98d7ae;
}

.blue {
    background-color: #9cdce7;
}

h1,
h2,
h3 {
    color: #333; /
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    color: #333; 
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #e6d1a1; 
    color: #333; 
}