<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jack Bowlin</title>

        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet" href="/static/mediaqueries.css" />

        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

        <script
            src="https://kit.fontawesome.com/2914e9e354.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id="desktop-nav">
            <div class="logo">Jack Bowlin</div>
            <div>
                <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#projects">Project</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <nav id="hamburger-nav">
            <div class="logo">Jack Bowlin</div>
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li>
                        <a href="#about" onclick="toggleMenu()">About</a>
                    </li>
                    <li>
                        <a href="#experience" onclick="toggleMenu()">
                            Experience
                        </a>
                    </li>
                    <li>
                        <a href="#projects" onclick="toggleMenu()">Project</a>
                    </li>
                    <li>
                        <a href="#contact" onclick="toggleMenu()">Contact</a>
                    </li>
                </div>
            </div>
        </nav>
        <section id="profile">
            <div class="section_pic-container">
                <img
                    src="/static/assets/new-profile-pic.png"
                    alt="profile-pic" />
            </div>
            <div class="section_text">
                <p class="section_text_p1">Hello I'm</p>
                <h1 class="title">Jack Bowlin</h1>
                <p class="section_text_p2">HBHS Student</p>
                <div class="btn-container">
                    <button
                        class="btn btn-color-2"
                        onclick="window.open('/static/Resume-Marketplace.pdf')">
                        <i class="fa-solid fa-file-arrow-down fa-lg"></i>
                        Resume
                    </button>
                    <button
                        class="btn btn-color-1"
                        onclick="location.href='./#contact'">
                        Contact Info
                    </button>
                </div>
                <div id="socials-container">
                    <img
                        src="/static/assets/linkedin.png"
                        alt="My LinkedIn profile"
                        class="icon"
                        onclick="window.open('https://www.linkedin.com/in/jack-bowlin/', '_blank');" />
                    <img
                        src="/static/assets/github.png"
                        alt="My github profile"
                        class="icon"
                        onclick="window.open('https://github.com/Rockymine8', '_blank');" />
                </div>
            </div>
        </section>

        <section id="about">
            <p class="section_text_p1">Get To Know More</p>
            <h1 class="title">About Me</h1>
            <div class="section-container">
                <div class="section_pic-container">
                    <img
                        src="/static/secondary_pic_3.jpeg"
                        alt="Profile picture"
                        class="about-pic" />
                </div>
                <div class="about-details-container">
                    <div class="about-containers">
                        <div class="details-container">
                            <img
                                src="/static/assets/experience.png"
                                alt="Experience icon"
                                class="icon" />
                            <h3>Experience</h3>
                            <p>
                                2+ years
                                <br />
                                Programming courses
                            </p>
                        </div>
                        <div class="details-container">
                            <img
                                src="/static/assets/education.png"
                                alt="Education icon"
                                class="icon" />
                            <h3>Education</h3>
                            <p>
                                Current Har-Ber High School Student
                                <br />
                                3.97 GPA
                            </p>
                        </div>
                    </div>
                    <div class="text-container">
                        <p>
                            Hello! I'm Jack, a current student at Har-Ber High
                            School, and I am seeking internship opportunities. I
                            am proficient in several languages, including Java,
                            Python, and TSQL. Currently holding a 3.97 GPA, I
                            have completed several computer science courses
                            through school, as well as courses outside of
                            school. I am currently in AP Calculus AB, AP
                            Computer Science A, AP Computer Science Principals,
                            and I am a Teacher Assistant for Programming One.
                            Outside of school, I have completed a course in
                            Microsoft SQL Server, and I am currently enrolled in
                            courses for Dart with the Flutter framework, as well
                            as a front end development course. Outside of
                            computer science, I enjoy spending time outdoors as
                            well as spending quality time with my family!
                        </p>
                    </div>
                </div>
            </div>
            <img
                src="/static/assets/arrow.png"
                alt="Arrow icon"
                class="icon arrow"
                onclick="location.href='./#experience'" />
        </section>

        <section id="experience">
            <p class="section_text_p1">Explore My</p>
            <h1 class="title">Experience</h1>
            <!--<div class="container-for-experience">-->
            <div class="experience-details-container">
                <div class="about-containers">
                    <div class="details-container">
                        <h2 class="experience-sub-title">Courses</h2>

                        <div class="article-container">
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-regular fa-hourglass-half fa-xl"></i>
                                </div>
                                <div>
                                    <h3>AP Computer Science A</h3>
                                    <p>In Progress</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-regular fa-hourglass-half fa-xl width18px"></i>
                                </div>
                                <div>
                                    <h3>AP C.S. Principals</h3>
                                    <p>In Progress</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-regular fa-hourglass-half fa-xl"></i>
                                </div>
                                <div>
                                    <h3>C.S. Lab Tech</h3>
                                    <p>In Progress</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>SQL Server</h3>
                                    <p>Complete</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Programming One</h3>
                                    <p>Complete</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Robotics 1 & 2</h3>
                                    <p>Complete</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Hardware Basics</h3>
                                    <p>Complete</p>
                                </div>
                            </article>
                            <article
                                class="experience-article font-awesome-icons">
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>EAST</h3>
                                    <p>Complete</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="details-container">
                        <h2 class="experience-sub-title">
                            Programming Languages
                        </h2>

                        <div class="article-container">
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>HTML</h3>
                                    <p>Experienced</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>CSS</h3>
                                    <p>Experienced</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>JavaScript</h3>
                                    <p>Intermediate</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Java</h3>
                                    <p>Experienced</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Inform</h3>
                                    <p>Intermediate</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Python</h3>
                                    <p>Intermediate</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>TSQL</h3>
                                    <p>Experienced</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Git</h3>
                                    <p>Intermediate</p>
                                </div>
                            </article>
                            <article>
                                <div class="icon-container">
                                    <i
                                        class="fa-solid fa-circle-check fa-xl"></i>
                                </div>
                                <div>
                                    <h3>Dart/Flutter</h3>
                                    <p>Basic</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            <img
                src="/static/assets/arrow.png"
                alt="Arrow icon"
                class="icon arrow arrow-experience"
                onclick="location.href='./#projects'" />
        </section>

        <section id="projects">
            <p class="section_text_p1">Browse My Recent</p>
            <h1 class="title">Projects</h1>
            <!-- <div class="experience-details-container"> -->
            <div class="projects-containers">
                <div class="details-container color-container">
                    <div class="article-container">
                        <div class="projects-img">
                            <img
                                src="/static/developersite.png"
                                alt="Project 1"
                                class="project-img" />
                        </div>
                    </div>
                    <h2 class="experience-sub-title project-title">
                        Portfolio Website
                    </h2>
                    <div class="btn-container">
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://github.com/Rockymine8/flaskDeveloperWebsite'">
                            Github
                        </button>
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://jackbowlin.com/'">
                            Live Demo
                        </button>
                    </div>
                </div>
                <div class="details-container color-container">
                    <div class="article-container">
                        <div class="projects-img">
                            <img
                                src="/static/christmascard.png"
                                alt="Project 2"
                                class="project-img" />
                        </div>
                    </div>
                    <h2 class="experience-sub-title project-title">
                        Christmas Card
                    </h2>
                    <div class="btn-container">
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://editor.p5js.org/jb041005/sketches/uI3M1V9ty'">
                            Code
                        </button>
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://editor.p5js.org/jb041005/full/uI3M1V9ty'">
                            Live Demo
                        </button>
                    </div>
                </div>
                <div class="details-container color-container">
                    <div class="article-container">
                        <div class="projects-img">
                            <img
                                src="/static/silasbanana.png"
                                alt="Project 3"
                                class="project-img" />
                        </div>
                    </div>
                    <h2 class="experience-sub-title project-title">
                        Silas Banana
                    </h2>
                    <div class="btn-container">
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://github.com/Rockymine8/silasbanana'">
                            Github
                        </button>
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://silasbanana.netlify.app/'">
                            Live Demo
                        </button>
                    </div>
                </div>
                <div class="details-container color-container">
                    <div class="article-container">
                        <div class="projects-img">
                            <img
                                src="/static/silasbanana.png"
                                alt="Project 3"
                                class="project-img" />
                        </div>
                    </div>
                    <h2 class="experience-sub-title project-title">
                        Silas Banana
                    </h2>
                    <div class="btn-container">
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://github.com/Rockymine8/silasbanana'">
                            Github
                        </button>
                        <button
                            class="btn btn-color-2 project-btn"
                            onclick="location.href='https://silasbanana.netlify.app/'">
                            Live Demo
                        </button>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <img
                src="/static/assets/arrow.png"
                alt="Arrow icon"
                class="icon arrow"
                onclick="location.href='./#contact'" />
        </section>

        <section id="contact">
            <p class="section_text_p1">Get in Touch</p>
            <h1 class="title">Contact Me</h1>
            <div class="contact-info-upper-container">
                <div class="contact-info-container">
                    <img
                        src="/static/assets/email.png"
                        alt="Email Icon"
                        class="icon contact-icon email-icon" />
                    <p>
                        <a href="mailto:jrbowlin7@gmail.com">
                            jrbowlin7@gmail.com
                        </a>
                    </p>
                </div>
                <div class="contact-info-container">
                    <img
                        src="/static/assets/linkedin.png"
                        alt="LinkedIn Icon"
                        class="icon contact-icon" />
                    <p>
                        <a href="https://www.linkedin.com/in/jack-bowlin/">
                            LinkedIn
                        </a>
                    </p>
                </div>
            </div>
        </section>

        <footer>
            <nav>
                <div class="nav-links-container">
                    <ul class="nav-links">
                        <li><a href="#about">About</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#projects">Project</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <p>Copyright &#169; 2024 Jack Bowlin. All Rights Reserved</p>
        </footer>

        <script src="/static/script.js"></script>
    </body>
</html>
