<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jack Bowlin</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/styles.css" />
        <script
            src="https://kit.fontawesome.com/2914e9e354.js"
            crossorigin="anonymous"></script>
        <!--<script src="static/script.js"></script>-->
    </head>

    <body>
        <script
            src="https://kit.fontawesome.com/2914e9e354.js"
            crossorigin="anonymous"></script>
        <header>
            <div class="header-content">
                <img
                    src="static/jack-full-transparent.png"
                    alt="Custom Icon"
                    class="custom-icon" />
                <div class="header-text">
                    <h1>Jack Bowlin</h1>
                    <p>Har-Ber High School Student</p>
                </div>
            </div>
        </header>

        <section id="objective">
            <h2>Objective</h2>
            <p>
                I'm Jack. I'm a junior at Har-Ber High School, and I'm seeking
                internship opportunities.
            </p>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <table>
                <tbody>
                    <tr>
                        <td><i class="fas fa-code"></i> Programming</td>
                        <td>
                            Proficient in multiple languages, including those
                            covered in Programming 1, AP Computer Science A, and
                            AP Computer Science Principles.
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-robot"></i> Robotics</td>
                        <td>Completed Robotics I & II courses.</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-database"></i> Database Design</td>
                        <td>
                            Certified in Microsoft SQL Server & Database Design.
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-laptop"></i> IT Skills</td>
                        <td>
                            Earned an Intro to I.T. certificate, showing
                            foundational knowledge in information technology.
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-code"></i> Web Development</td>
                        <td>
                            Currently enrolled in a front-end web development
                            course.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-mobile-alt"></i> Mobile App
                            Development
                        </td>
                        <td>
                            Currently enrolled in a Flutter mobile app
                            development course.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-hands-helping"></i> Community
                            Service
                        </td>
                        <td>
                            Utilized computer science skills in the EAST program
                            to create projects benefiting the local community.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="projects">
            <h2>Projects</h2>
            <div class="projects-container">
                {% for project in projects %} {% if project['display'] %}
                <div class="project-card {{ project['class'] }}">
                    <h3>{{ project['name'] }}</h3>
                    <p>{{ project['description'] }}</p>
                    {% if project['imageurl'] %}
                    <img
                        src="{{ project['imageurl'] }}"
                        alt="{{ project['name'] }} Image" />
                    {% endif %} {% if project['websiteurl'] %}
                    <p>
                        <a href="{{ project['websiteurl'] }}" target="_blank"
                            >Visit Website</a
                        >
                    </p>
                    {% endif %}
                </div>
                {% endif %} {% endfor %}
            </div>
        </section>

        <section id="contact">
            <h2>Contact Me</h2>
            <div class="contact-info">
                <p>
                    <i class="fas fa-envelope"></i> Email:
                    <a href="mailto:jrbowlin7@gmail.com" target="_blank"
                        >jrbowlin7@gmail.com</a
                    >
                </p>
                <p>
                    <i class="fab fa-linkedin"></i> LinkedIn:
                    <a
                        href="https://linkedin.com/in/jack-bowlin/"
                        target="_blank">
                        linkedin.com/in/jack-bowlin/
                    </a>
                </p>
                <p>
                    <i class="fab fa-github"></i> GitHub:
                    <a href="https://github.com/Rockymine8" target="_blank">
                        github.com/Rockymine8
                    </a>
                </p>
            </div>
        </section>

        <footer>
            <!--<p>&copy; 2024 Jack Bowlin - Developer Portfolio</p>-->
        </footer>
    </body>
</html>
